
$purple: #5541f0;
$purpleHover:#4133af;
$bgColor: #fff;
$lineColor: #f1f1f8;
$black: #15103a;
$bold: 500;
$bolder: 600;

* {
    font-family: "Roobert",Helvetica,Arial,sans-serif;
}

body {
    background-color: $bgColor;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

header, .subheader {
    border-bottom: 1px solid $lineColor;
    padding: 15px 0px 5px 0px;
    background-color: $bgColor;
}

/*Do not set with Bootstrap*/
.subheader {
    display: none;
}

.subheader-item {
    font-weight: $bolder;
    font-size: .875rem;
    padding: 8px 14px;
}

.subheader-item.active {
    color: var(--purple);
    /* text-decoration: underline var(--purple) solid 3px; */
    border-bottom: 3px solid $purple;
    padding-bottom: 3px;
}

/*Do not set with Bootstrap*/
.nav-responsive {
    display: none;
}

.nav-responsive button {
    background-color: transparent;
    color: black;
}

.nav-responsive .dropdown-menu img {
    border-radius: 5px;
}

.bold {
    font-weight: $bold;
}

/*Do not set with Bootstrap*/
.nav-left, .nav-right {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.welcome-item {
    color: white;
    background-color: $purple;
}

.welcome-item svg, .share-item svg {
    margin-top: 2px;
}

.welcome-item:hover, .nav-item {
    background-color: $purpleHover;
}

.welcome-item, .share-item{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: $bolder;
}

.share-item {
    border: 1px solid $black;
}

.share-item:hover {
    background-color: black;
    color: white;
}

.nav-logo {
    width: 120px;
}

.nav-weather svg, .nav-traffic svg {
    fill: $purple;
}

/*Do not set with Bootstrap*/
.nav-right {
    gap: 10px;
    font-weight: $bold;
}

.search {
    background-color: $lineColor;
    padding: 12px 20px;
    border-radius: 100px;
}

/*Do not set with Bootstrap*/
.search, .nav-weather, .nav-traffic {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

/*Do not set with Bootstrap*/
.responsive-settings, .responsive-contact {
    display: none;
}

.main .sidebar {
    min-height: calc(100vh - 79px);
}

/*Do not set with Bootstrap*/
.sidebar {
    border-right: 1px solid $lineColor;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-item {
    font-weight: $bolder;
    padding: 12px 8px;
    border-radius: 4px;
}

.sidebar-item.active {
    box-shadow: 0 8px 16px rgb(0 0 0 / 8%);
    color: $purple;
}

.sidebar svg {
    fill: $black;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.sidebar-item.active svg {
    fill: $purple;
}

.bottomSidebar button {
    border: 1px solid $lineColor;
    color: $black;
    font-weight: $bold;
    background-color: $bgColor;
    padding: 12px 4px;
    margin: 0px 0px 16px 0px;
}

.bottomSidebar .btn-group svg:nth-child(1) {
    fill: $purple;
}

.bottomSidebar .btn-group svg:nth-child(2) {
    width: 20px;
    height: 20px;
}

.bottomSidebar li.dropdown-item {
    padding: 4px 16px;
    font-weight: $bold;
}

hr {
    margin: 8px 0px;
}

.socialIcons svg {
    width: 40px;
    height: 40px;
}

.mainArticle {
    position: relative;
    z-index: 1;
}

.mainArticlebg::before {
    position: absolute;
    border-radius: 12px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content:"";
    background-image: url(../img/mainArticlebgpng.png);
    background-size: 110vw 100%;
    background-position: center center;
    z-index: -1;
    opacity: 0.4;
}

.main img {
    border-radius: 12px;
    height: 100%;
    width: 100%;
}

.articleSubheading {
    font-size: 0.88rem;
    font-weight: 400;
}

.articlePosted {
    font-size: .85rem;
}

.subArticleTitle {
    font-weight: $bolder;
}

.subArticleContent {
    overflow: hidden;
}

.articleContainer img {
}

.testdiv {
    flex: 1;
    min-height: 150px;
    width: auto;
}

@media screen and (max-width: 767px) {
    .nav-left, .nav-traffic, .search, .nav-weather {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .nav-responsive, .responsive-settings, .responsive-contact, .subheader {
        display: block;
    }

    .nav-right {
        gap: 20px;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 340px) {
    /*Give the columns a min-width to have them wrap*/
    .nav-responsive .dropdown-menu .col-6 {
        min-width: 160px;
    }

    /*Horizontally align dropdown-menu images*/
    .nav-responsive .dropdown-menu .row {
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .mainArticlebg::before {
        border-radius: 0px;
    }
}

