
:root {
    --purple: #5541f0;
    --purpleHover:#4133af;
}

* {
    font-family: "Roobert",Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

header {
    width: 100vw;
    height: 80px;
    border-bottom: 1px solid #f1f1f8;
}

header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav-left, .nav-right {
    display: flex;
    column-gap: 10px;
}

.welcome-item {
    color: white;
    background-color: var(--purple);

}

.welcome-item svg, .share-item svg {
    margin-top: 2px;
}

.welcome-item:hover {
    background-color: var(--purpleHover);
}

.welcome-item, .share-item {
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 4px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.share-item {
    border: 1px solid #15103a;
}

.share-item:hover {
    background-color: black;
    color: white;
}

.nav-logo {
    width: 150px;
    
}

  .navbar-light .navbar-toggler-icon {
    background-image: none;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234133af' class='bi bi-menu-button-wide-fill' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 0A1.5 1.5 0 0 0 0 1.5v2A1.5 1.5 0 0 0 1.5 5h13A1.5 1.5 0 0 0 16 3.5v-2A1.5 1.5 0 0 0 14.5 0h-13zm1 2h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1zm9.927.427A.25.25 0 0 1 12.604 2h.792a.25.25 0 0 1 .177.427l-.396.396a.25.25 0 0 1-.354 0l-.396-.396zM0 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8zm1 3v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2H1zm14-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v2h14zM2 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");    
}
