
:root {
    --purple: #5541f0;
    --purpleHover:#4133af;
    --lineColor: #f1f1f8;
}

* {
    font-family: "Roobert",Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
}

a:hover {
    color: currentColor;
}

header {
    width: 100vw;
    border-bottom: 1px solid var(--lineColor);
    padding: 15px 0px;
}

header .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px;
}

.nav-responsive {
    display: none;
}

.nav-responsive button {
    padding: 0;
    background-color: transparent;
    color: black;
    border: none;
}

.bold {
    font-weight: 500;
}

.large {
    font-size: 20px;
}

.nav-left, .nav-right {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.welcome-item {
    color: white;
    background-color: var(--purple);

}

.welcome-item svg, .share-item svg {
    margin-top: 2px;
}

.welcome-item:hover, .nav-item {
    background-color: var(--purpleHover);
}

.welcome-item, .share-item, .nav-item{
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

.share-item {
    border: 1px solid #15103a;
}

.share-item:hover {
    background-color: black;
    color: white;
}

.nav-logo {
    width: 120px;
}

.nav-weather svg, .nav-traffic svg {
    fill: var(--purple);
}

.nav-right {
    gap: 10px;
    font-weight: 500;
}

.search {
    background-color: #f1f1f8;
    padding: 12px 20px;
    border-radius: 100px;
}

.search, .nav-weather, .nav-traffic {
    align-items: center;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.responsive-settings, .responsive-contact {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-left, .nav-traffic, .search, .nav-weather {
        display: none;
    }

    .nav-responsive, .responsive-settings, .responsive-contact {
        display: block;
    }

    .nav-right {
        gap: 20px;
    }


}
